/* Base Styles */

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/proxima_nova_light-webfont.otf')  format('opentype'),
	   url('../fonts/proxima_nova_light-webfont.woff') format('woff'), 
	   url('../fonts/proxima_nova_light-webfont.ttf')  format('truetype'), 
	   url('../fonts/proxima_nova_light-webfont.svg#ProximaNova-Light') format('svg');
	   font-weight: normal;
 	   font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	   url('../fonts/ProximaNova-Regular.woff') format('woff'), 
	   url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
	   url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  	   font-weight: normal;
 	   font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
	   url('../fonts/ProximaNova-Semibold.woff') format('woff'), 
	   url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), 
	   url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	   font-weight: normal;
 	   font-style: normal;
}
html {
    height: 100%;
}
body{
	font-family: 'ProximaNova-Regular';
	float: left;
    width: 100%;
	height: 100%;
}
.no-border{
	border:0 none !important;
}
.clear-fix{
	clear:both;
}
table {
	border:1px solid #dfdfdf;
    width: 100%;
	border-collapse:collapse;
	float: left;
}
th{
	background-color: #f5f5f5;
    border-right: 1px solid #dfdfdf;
    font-family: 'ProximaNova-Semibold';
	font-weight:normal;
}
td{
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	font-family: 'ProximaNova-Light';
}
th:last-child,td:last-child{
	border-right:0;
}

th, td {
    text-align: left;
	font-size: 14px;
	color: #727272;
	padding: 22px 0 19px 13px;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
/* Base Styles */

/* Dashboard Screen Styles */

.primary-sidebar {
    float: left;
    width: 19.9%;
    height: 100%;
	transition:all 300ms ease 0ms;
}
.primary-sidebar.hidden{
	width:5.5%;
	overflow:hidden;
	transition:all 300ms ease 0ms;
}
.dashboard-conatainer {
    float: left;
    width: 80%;
	height: 100%;
	transition:all 300ms ease 0ms;
}
.dashboard-conatainer.hidden {
    width: 94.5%;
	transition:all 300ms ease 0ms;
}
.logo.hidden{
    width: 46px;
    overflow: hidden;
    margin: 0 auto !important;
	transition:all 300ms ease 0ms;
}
.logo {
    padding: 33px 0 25px;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 10.2%;
	transition:all 300ms ease 0ms;
}
.logo a {
    display: inline-block;
}
.primary-nav.hidden {
    width: 80px;
    overflow: hidden;
	transition:all 300ms ease 0ms;
}
.primary-nav.hidden ul {
	transition:all 300ms ease 0ms;
}
.primary-nav ul {
    width: 360px;
}
.primary-nav {
	padding-top: 27px;
}
.primary-nav.hidden ul li.active a span.notify-bubble {
    right: auto;
    top: 0px;
    left: 48px;
	transition:all 300ms ease 0ms;
}
.primary-nav ul li {
    margin-bottom: 25px;
	border-left: 4px solid transparent;
}
.primary-nav ul li.active {
	border-color: #924694;
}
.primary-nav ul li.active a{
	font-family: 'ProximaNova-Semibold';
}
.primary-nav ul li a {
    font-size: 16px;
    color: #636363;
    display: block;
    padding: 10px 0 10px 9%;
    line-height: 28px;
    text-transform: uppercase;
	position: relative;
}
.primary-nav ul li a span {
	background:url(../img/icon-sprite.png) no-repeat scroll 0 0 transparent;
	float: left;
    width: 46px;
}
.notify-bubble {
    background: #924694 !important;
    padding: 3px 10px;
    position: absolute;
    right: 34px;
    top: 14px;
    float: none !important;
    width: auto !important;
    border-radius: 20px;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
    color: #fff;
    line-height: 100%;
	visibility:hidden;
	transition:all 300ms ease 0ms;
}
.primary-nav ul li.active a span.notify-bubble {
    visibility:visible;
	transition:all 600ms ease 0ms;
}
span.ico-dashboard {
    height: 24px;
}
span.ico-insight {
	height: 31px;
    background-position: 0 -72px !important;
}
span.ico-notify {
	height: 30px;
	background-position: 0 -149px !important;
}
span.ico-tm {
	height: 24px;
	background-position: 0 -226px !important;
}
span.ico-history {
	height: 28px;
	background-position: 0 -300px !important;
}
span.ico-performance {
	height: 28px;
	background-position: 0 -373px !important;
}
span.ico-portfolio {
	height: 22px;
	background-position: 0 -451px !important;
}
span.ico-settings {
	height: 24px;
	background-position: 0 -525px !important;
}
.dashboard-header {
    float: left;
    width: 100%;
	border-bottom: 1px solid #dfdfdf;
	padding: 34px 39px 17px 20px;
	border-left: 1px solid #dfdfdf;
}
.db-header-wrap {
    float: left;
    width: 100%;
}
.menu-toggle {
    float: left;
    border-top: 2px solid #acacac;
    border-bottom: 2px solid #acacac;
    width: 22px;
	margin-top: 9px;
	cursor: pointer;
}
.menu-line {
    display: block;
    height: 2px;
    background-color: #acacac;
    margin: 6px 0;
}
.db-header-wrap h1 {
    float: left;
    margin: 0;
    padding-left: 49px;
    color: #545454;
    font-family: 'ProximaNova-Light';
    font-size: 34px;
    font-weight: normal;
	text-transform: capitalize;
}
.profile-menu {
    float: right;
}
.profile-menu-wrap {
    float: left;
}
.profile-img {
    display: block;
    float: left;
}
.pi-container {
    float: left;
    width: 51px;
    height: 53px;
	border-radius: 100%;
}
.pi-container img {
    width: 100%;
    height: 100%;
}
.down-arrow {
	background: url(../img/icon-sprite.png) no-repeat scroll -8px -582px transparent;
    width: 11px;
    height: 6px;
    float: left;
    margin: 26px 0 0 17px;
}
.db-content-wrapper {
    float: left;
    width: 100%;
	height: 89vh;
}
.db-content-view {
    float: left;
    width: 80%;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.account-stats {
    float: left;
    width: 100%;
    text-align: center;
    padding: 38px 0 0;
}
.account-stats h2 {
    margin: 0;
    color: #545454;
    font-family: 'ProximaNova-Light';
    font-size: 42px;
    font-weight: normal;
	line-height: 100%;
	text-transform: capitalize;
}
.account-stats p {
    margin: 0;
	padding-top: 8px;
	color: #636363;
    font-size: 18px;
    font-family: 'ProximaNova-Light';
}
.stats-col {
    display: inline-block;
	width: 28.5%;
}
.stats-col-wrap {
    padding: 63px 0 40px;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 4%;
}
.stats-col h3 {
    color: #636363;
    margin: 0;
    font-family: 'ProximaNova-Semibold';
    text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 16px;
	font-weight: normal;
}
.stats-col span {
    display: block;
    border-right: 1px solid #dfdfdf;
    padding: 14px 0 35px;
    font-size: 54px;
    color: #c1c1c1;
    font-family: 'ProximaNova-Semibold';
}
.stats-col span sup {
    font-size: 24px;
    top: -25px;
    color: #d4d4d4;
}
.btn {
    border: 1px solid #d4d4d3;
    border-radius: 24px;
    padding: 11px 26px;
    position: relative;
    top: -16px;
    font-size: 16px;
	color: #b8b8b8;
}
.btn.btn-green {
	font-family: 'ProximaNova-Semibold';
	background-color: #00b9bd;
	border-color:#00b9bd;
	color: #fff;
}
.btn.btn-purple {
	font-family: 'ProximaNova-Semibold';
	background-color: #924694;
	border-color:#924694;
	color: #fff;
}
.account-infograph {
    float: left;
    width: 100%;
    padding: 40px 0 0;
}
.infograph-details {
	float: left;
    width: 100%;
}
.infograph-details h1 {
    margin: 0;
    float: left;
    color: #545454;
    font-size: 20px;
    font-weight: normal;
    font-family: 'ProximaNova-Semibold';
}
.infograph-labels {
    float: right;
    width: 300px;
}
.label-item-col{
	float: left;
    margin-right: 29px;
}
.label-item-col:last-child{
	margin-right:0;
}
.label-item {
    color: #636363;
    font-size: 18px;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}
.label-tag{
    width: 11px;
    height: 11px;
    margin-right: 11px;
    display: inline-block;
}
.label-tag.tag-lg {
    background-color: #a1e2e3;
}
.label-tag.tag-lp {
    background-color: #d3a2d5;
}
.label-tag.tag-green {
    background-color: #00b9bd;
}
.label-tag.tag-purple {
    background-color: #a465a6;
}
.account-charts {
    padding-top: 25px;
    float: left;
    width: 100%;
}
.ac-wrap .chart {
    float: left;
    width: 48%;
    margin-right: 3%;
}
.ac-wrap .chart:last-child{
	margin-right:0;
}
.chart img {
    width: 100%;
}
.id-wrap, .ac-wrap {
    margin: 0 4%;
}
.secondary-sidebar {
    float: left;
    width: 20%;
    height: 100%;
}
.ss-content {
    margin: 0 13.5%;
}
.ss-content h4 {
    margin: 0;
    color: #545454;
    font-size: 16px;
    font-family: 'ProximaNova-Semibold';
    text-transform: uppercase;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
	font-weight: normal;
	padding-top: 63px;
}
.ss-content nav ul li {
    border-bottom: 1px solid #dfdfdf;
    padding: 19px 0 14px;
}
.ss-content nav ul li a {
    display: block;
    font-size: 16px;
    font-family: 'ProximaNova-Semibold';
    color: #a9a9a9;
	padding-bottom: 5px;
}
.ss-content nav ul li a strong {
    color: #636363;
	font-weight: normal;
}
.timestamp {
    color: #727272;
    font-size: 14px;
    font-family: 'ProximaNova-Light' !important;
}
.ico-clock {
	background: url(../img/icon-sprite.png) no-repeat scroll -7px -559px transparent;
    width: 13px;
    height: 13px;
    margin: 2px 10px 0 3px;
    float: left;
}
.close-btn{
	display:none;
}
/* Dashboard Screen Styles */

/*Performance Screen Styles */

.pf-content-wrap {
    float: left;
	width: 100%;
}
.cpm {
	background-color: #f5f5f5;
    float: left;
    width: 100%;
	margin-bottom: 42px;
}
.cpm-menu-wrap {
    padding:43px 50px 45px;
}
.cpm-view {
	background: url(../img/down-arrow.png) no-repeat scroll 98% 24px transparent;
    border: 1px solid #d4d4d3;
    border-radius: 2px;
    background-color: #fff;
	padding: 16px 21px 16px 18px;
	color: #4c4c4c;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
	cursor:pointer;
	width: 100%;
}
/*.cpm-view:after,.dpm-view:after,
.la-view:after{
	background: url(../img/icon-sprite.png) no-repeat scroll -8px -582px transparent;
    content: '';
    width: 11px;
    height: 6px;
    float: right;
    top: 8px;
    position: relative;
    right: 0;
    margin-left: 35px;
}*/
/*.cpm-menu {
	border-right: 1px solid #d4d4d3;
	border-top: 0;
	background-color: #fff;
	padding: 0 21px 0 18px;
	color: #4c4c4c;
	font-size: 18px;
	font-family: 'ProximaNova-Semibold';
	border-bottom: 1px solid #d4d4d3;
	border-left: 1px solid #d4d4d3;
	border-radius: 0 0 3px 3px;
	display:none;
}*/
.cpm-menu li {
    cursor: pointer;
	padding:15px 0;
}
/*.cpm-menu.active{
    display: block;
}*/
.pf-content-wrap .account-infograph {
    padding: 0 3.3% 0;
    margin-bottom: 45px;
}
.pf-content-wrap .infograph-details h1 {
    font-size: 28px;
    font-family: 'ProximaNova-Regular';
    color: #636363;
	text-transform: capitalize;
}
.pf-content-wrap .account-charts {
    border-bottom: 1px solid #dfdfdf;
    padding: 25px 0 42px;
}

.pf-content-wrap .ac-wrap,.pf-content-wrap .id-wrap{
    margin: 0;
}
.dp-wrap {
    float: left;
    clear: both;
    width: 100%;
	padding: 40px 0 16px;
}
.dpm-menu-wrap {
    float: left;
    clear: left;
}
.dp-wrap .infograph-labels {
    width: auto;
    padding-top: 18px;
}
.dpm-view {
	background: url(../img/down-arrow.png) no-repeat scroll 95% 24px transparent;
    border: 1px solid #d4d4d3;
    border-radius: 2px;
    background-color: #fff;
    padding: 16px 59px 16px 15px;
    color: #4c4c4c;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    cursor: pointer;
}
/*.dpm-menu {
    display: none;
	border-right: 1px solid #d4d4d3;
	border-top: 0;
	background-color: #fff;
	padding: 0 14px 0 15px;
	color: #4c4c4c;
	font-size: 18px;
	font-family: 'ProximaNova-Semibold';
	border-bottom: 1px solid #d4d4d3;
	border-left: 1px solid #d4d4d3;
	border-radius: 0 0 3px 3px;
}*/
/*.dpm-menu.active{
	display: block;
}*/
.dpm-menu li {
    cursor: pointer;
    padding: 10px 0;
}
.ac-wrap .chart-full-width {
    width: 100%;
}
.balance-sheet {
    float: left;
    width: 100%;
    padding-top: 40px;
}
.mob-th {
    display: none;
}
.bs-graph-wrap{
	padding-top:18px;
	float: left;
    width: 100%;
}
.bs-graph {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
	margin-top: 25px;
	float: left;
    width: 100%;
}
.bs-graph h2 {
    font-size: 18px;
    margin: 0;
    color: #545454;
    font-family: 'ProximaNova-Light';
    text-transform: uppercase;
	padding-bottom: 30px;
}
.bs-stats-detail{
	float: left;
    width: 100%;
}
.bs-stats-detail .chart {
    float: left;
}
.bs-stats-detail span {
    font-size: 28px;
    color: #636363;
    font-family: 'ProximaNova-Light';
	padding: 18px 0 0 0;
    float: right;
	text-transform: uppercase;
}
/*Performance Screen Styles */

/* Funds Transfer Styles */
.tm-content-wrap {
    float: left;
    width: 100%;
}
.tm-content-wrap .db-content-view {
    border-right: 0;
	padding: 50px 0 0 5%;
	max-width: 585px;
	height: 89vh;
}
.withdrawal-process {
    float: left;
}
.withdrawal-process h1,.withdrawal-process h2,.withdrawal-process h3{
    margin: 0;
	font-weight:normal;
}
.withdrawal-process h1{
	color: #00b9bd;
    font-size: 32px;
    font-family: 'ProximaNova-Light';
}
.account-category {
    padding: 53px 0 80px;
    float: left;
}
.ac-opt {
    float: left;
    margin-right: 29px;
    border: 1px solid #e1e1e0;
    border-radius: 4px;
	padding: 30px 0 18px;
    width: 164px;
	position:relative;
	cursor:pointer;
}
.ac-opt:last-child{
    margin-right: 0;
}
.ac-opt h2{
    font-size: 16px;
    text-align: center;
    font-family: 'ProximaNova-Semibold';
    color: #727272;
	padding: 0 40px;
	text-transform: capitalize;
}
.ac-opt span {
    position: absolute;
    top: -20px;
    left: 40%;
    border: 1px solid #d7d7d6;
    border-radius: 20px;
    padding: 10px 0;
    width: 40px;
    font-size: 16px;
    text-align: center;
	color:#00b9bd;
	border-color:#00b9bd;
	background-color: #fff;
    font-family: 'ProximaNova-Semibold';
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
}
.ac-opt-disabled{
	pointer-events:none;
}
.ac-opt-disabled span{
	color:#727272;
	border-color:#d7d7d6;
	
}
.ac-opt-disabled h2,.ac-opt-done h2{
	color:#c7c7c7;
}
span.checked{
	display:none;
}
.ac-opt-done span.active{
	display:none;
}
.ac-opt-done span.checked{
	display:block;
	border:0;
	padding:0;
	width: 40px;
    height: 40px;
}
.ac-opt.active {
	pointer-events:auto;
}
.ac-opt.active span{
	color:#fff;
	border-color:#00b9bd;
	background-color: #00b9bd;
}
.wp-view {
    float: left;
    clear: left;
	width: 100%;
}
.withdrawal-amount {
    float: left;
	width: 100%;
	margin-bottom: 211px;
	display:none;
}
.withdrawal-amount.active{
	display:block;
}
.wp-figure {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
	padding: 0 0 30px 13px;
	    color: #cbcbcb;
    font-size: 22px;
	position: relative;
}
.wp-figure .input-field {
    border: 0;
    padding: 0;
    font-size: 82px;
    font-family: 'ProximaNova-Light';
    width: 100%;
    height: 65px;
    margin-left: 18px;
	color: #cbcbcb;
}
.wp-figure sup {
    position: absolute;
    top: 23px;
}
.withdrawal-amount h2 {
    color: #545454;
    font-size: 16px;
    font-family: 'ProximaNova-semibold';
    text-transform: uppercase;
	padding-bottom: 44px;
}
.legal-account-opts {
    float: left;
	padding-bottom: 115px;
	width: 100%;
	display:none;
}
.legal-account-opts.active{
	display:block;
}
.la-menu-wrap {
	padding-bottom: 70px;
}
/*.la-dd {
    border-right: 1px solid #d4d4d3;
    border-top: 0;
    background-color: #fff;
    padding: 0 21px 0 18px;
    font-size: 16px;
    font-family: 'ProximaNova-Light';
    border-bottom: 1px solid #d4d4d3;
    border-left: 1px solid #d4d4d3;
    border-radius: 0 0 3px 3px;
    color: #4c4c4c;
	display: none;
}*/
.la-dd li {
    padding: 10px 0;
    cursor: pointer;
}
/*.la-dd.active{
	display:block;
}*/
.la-menu h2 {
    color: #545454;
    font-size: 16px;
    font-family: 'ProximaNova-semibold';
    text-transform: uppercase;
	padding-bottom:20px;
}
.wp-controls {
    float: left;
    clear: both;
	border-top: 1px solid #dfdfdf;
    padding-top: 44px;
	width: 100%;
}
.wp-controls .btn {
    float: left;
	top: 0;
    padding: 11px 0;
    width: 127px;
    text-align: center;
    text-transform: uppercase;
}
.wp-controls .btn-next {
    float: right;
}
.wp-controls .btn-disabled {
    background-color: #dedede;
	border-color:#dedede;
	color: #fff;
    pointer-events: none;
}
.la-view {
	background: url(../img/down-arrow.png) no-repeat scroll 95% 24px transparent;
    border: 1px solid #d4d4d3;
    border-radius: 4px;
    background-color: #fff;
    color: #4c4c4c;
    font-size: 16px;
    font-family: 'ProximaNova-Light';
    cursor: pointer;
	padding: 17px 16px 17px 20px;
	width: 100%;
}
/* Funds Transfer Styles */